<form method="post"  action="{% url 'clases:delete-class-block' bloque.pk %}"   class="col-span-3 md:col-span-2 lg:col-span-2 max-w-md bg-gray-900 border border-gray-700 rounded p-8">
    {% csrf_token %}
      <h5 class="text-xl font-bold leading-nonetext-white">Eliminar Clase</h5>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700"/>


      <div class="bloque-de-clase">
        <div class="flex flex-col mb-4">
            <p>Salon: {{ bloque.salon }}</p>
        </div>
        <div class="flex flex-col mb-4">
          <p>Dia(s):
            {{ bloque.dia.all|join:", " }}
        </p>

        </div>
        <div class="flex flex-col mb-4">

          <p>Hora inicio: {{ bloque.hora_inicio }}</p>
        </div>
        <div class="bloque flex-col mb-4">
          <p>Hora fin: {{ bloque.hora_fin }}</p>
        </div>
    </div>

      <input value="Sí, seguro." data-modal-hide="popup-modal" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-800 font-medium rounded text-sm inline-flex items-center px-5 py-2.5 text-center">

      <button type="button"  class='main-action-button w-full' onclick="window.location.href = '{% url 'clases:detail-group' grupo_pk %}'">Cancelar</button>
    </form>