{% extends "base.html" %}

{% block navbar %}

{% include 'base/components/navbar.html' %}

{% endblock %}

{% block sidebar %}

{% include 'base/components/sidebar.html' %}

{% endblock %}

{% block content %}

<section class="bg-gray-950 p-8 lg:rounded mx-auto pt-32 shadow-md lg:pt-8 w-full lg:w-auto">
    <h1>Cursos</h1>
    <ul>
        {% for carrera in object_list %}
        <li>{{ carrera.nombre }} - {{ carrera.descripcion }}</li>
        {% empty %}
        <li>No hay carreras.</li>
        {% endfor %}
    </ul>
</section>

{% endblock %}