{% extends "base.html" %}

{% block navbar %}

{% include 'base/components/navbar.html' %}

{% endblock %}

{% block sidebar %}

{% include 'base/components/sidebar.html' %}

{% endblock %}

{% block content %}

<section class="lg:rounded w-full lg:w-auto grid grid-cols-4 gap-4 px-8">
    <div class='col-span-3'>
        <form method="post">{% csrf_token %}
            <div class='flex flex-col gap-4'>
                <div class="flex flex-col rounded bg-gray-300 p-4 text-gray-900">
                    <div class='flex flex-col'>
                        {{ form.nombre.label_tag }}
                        {{ form.nombre }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                    </div>
                </div>
                <div>
                    <div class="flex flex-col mb-4">
                        {{ form.duracion_meses.label_tag }}
                        {{ form.duracion_meses }}
                    </div>
                </div>
                <div>
                    <div class="flex flex-col mb-4">
                        {{ form.costo.label_tag }}
                        {{ form.costo }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form.fecha_alta.label_tag }}
                        {{ form.fecha_alta }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form.fecha_baja.label_tag }}
                        {{ form.fecha_baja }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form.cursos.label_tag }}
                        {{ form.cursos }}
                    </div>
                </div>
            </div>
            <input class='main-action-button' type="submit" value="Ingresar">
        </form>
    </div>
    <div class='flex flex-col gap-4'>
        <div class='bg-gray-300 rounded h-32 p-4'>
            <h1>Factos</h1>
        </div>
        <div class='bg-accent-100 rounded h-auto p-4'>
            <h1>Datos</h1>
        </div>
    </div>
</section>

{% endblock %}