{% extends "base.html" %}

{% block navbar %}

{% include 'base/components/navbar.html' %}

{% endblock %}

{% block sidebar %}

{% include 'base/components/sidebar.html' %}

{% endblock %}

{% block content %}

<section class="bg-gray-950 p-8 lg:rounded mx-auto pt-32 shadow-md lg:pt-8 w-full lg:w-auto">
    <form method="post">{% csrf_token %}
        <div class='flex flex-row gap-4'>
            <div>
                <div class="flex flex-col mb-4">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.descripcion.label_tag }}
                    {{ form.descripcion }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.duracion_meses.label_tag }}
                    {{ form.duracion_meses }}
                </div>
            </div>
            <div>
                <div class="flex flex-col mb-4">
                    {{ form.costo.label_tag }}
                    {{ form.costo }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.fecha_inicio.label_tag }}
                    {{ form.fecha_inicio }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.fecha_fin.label_tag }}
                    {{ form.fecha_fin }}
                </div>
            </div>
        </div>
        <input class='main-action-button' type="submit" value="Ingresar">
    </form>
</section>

{% endblock %}