{% extends "base.html" %}

{% block navbar %}

{% include 'base/components/navbar.html' %}

{% endblock %}

{% block sidebar %}

{% include 'base/components/sidebar.html' %}

{% endblock %}

{% block content %}

<section class="bg-gray-950 p-8 lg:rounded mx-auto pt-32 shadow-md lg:pt-8 w-full lg:w-auto">
    <form method="post">{% csrf_token %}
        <div class='flex flex-row gap-4'>
            <div>
                <div class="flex flex-col mb-4">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.apellido.label_tag }}
                    {{ form.apellido }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.dni.label_tag }}
                    {{ form.dni }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.telefono.label_tag }}
                    {{ form.telefono }}
                </div>
            </div>
            <div>
                <div class="flex flex-col mb-4">
                    {{ form.direccion.label_tag }}
                    {{ form.direccion }}
                </div>
                <div class="flex flex-col mb-4">
                    {{ form.fecha_nacimiento.label_tag }}
                    {{ form.fecha_nacimiento }}
                </div>

            </div>
        </div>
        <input class='main-action-button' type="submit" value="Ingresar">
    </form>
</section>

{% endblock %}