<form action="{% url 'clases:formset-view' %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
    {% include "clases/components/bloque_component.html" with form=form %}


    {% endfor %}

    <button type="button"

            hx-trigger="click"
            hx-get="{% url 'clases:add-formset' formset.total_form_count|default:0 %}"
            hx-swap="outerHTML">
      Agregar Clase
    </button>

    <input type="submit" value="Submit">
  </form>