<section class='col-span-3 md:col-span-2 lg:col-span-2'>
  <div class="border border-gray-700 rounded shadow bg-gray-900 mb-4">
    <div class="flex w-full max-w-full">
      <div class="flex flex-col items-start p-4 py-8 rounded">
          <div class="relative inline-flex items-center justify-center w-12 h-12 overflow-hidden rounded bg-accent-50 mb-2">
            <span class="font-medium text-white">{{estudiante.nombre|make_list|first}}{{estudiante.apellido|make_list|first}}</span>
          </div>
          <h5 class="mb-1 text-xl font-medium text-white">{{estudiante.nombre}} {{estudiante.apellido}}</h5>
          <span class="text-sm text-gray-400 mb-2">{{estudiante.email}}</span>
          <span class="text-xs font-medium me-2 p-2 rounded bg-indigo-900 text-indigo-300">Estudiante</span>
      </div>
      <div class="flex flex-col items-center p-4 w-full mx-auto mb-0">
        <div class="py-2 text-sm w-full p-2">
          <div>
            <p class="mr-8 mb-2 text-gray-700">
              Fecha de nacimiento
            </p>
            <p class="mr-8 mb-4 text-white">
              {% if estudiante.fecha_nacimiento %}
                {{estudiante.fecha_nacimiento}}
              {% else %}
                N/A
              {% endif %}
            </p>
          </div>
          <div>
            <p class="mr-8 mb-2 text-gray-700">
              Cédula de identidad
            </p>
            <p class="mr-8 mb-4 text-white">
              {{estudiante.dni}}
            </p>
          </div>
          <div>
            <p class="mr-8 mb-2 text-gray-700">
              Dirección
            </p>
            <p class="mr-8 mb-4 text-white">
              {% if estudiante.direccion %}
                {{estudiante.direccion}}
              {% else %}
                N/A
              {% endif %}
            </p>
          </div>
          <div>
            <p class="mr-8 mb-2 text-gray-700">
              Teléfono
            </p>
            <p class="mr-8 mb-4 text-white">
              {{estudiante.telefono}}
            </p>
          </div>
          <div>
            <p class="mr-8 mb-2 text-gray-700">
              Contacto de emergencia
            </p>
            <p class="mr-8 mb-4 text-white">
              {% if estudiante.emergency_contact %}
                {{estudiante.emergency_contact}}
              {% else %}
                N/A
              {% endif %}
            </p>
          </div>
          <div>
            <p class="mr-8 mb-2 text-gray-700">
              Status de pagos
            </p>
            <p class="mr-8 mb-4 text-white">
              {% if estudiante.is_up_to_date_with_payments %}
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Al día
                </div>
              {% else %}
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> No está al día
                </div>
              {% endif %}
            </p>
          </div>
          <div>
            <p class="mr-8 mb-2 text-gray-700">
              Status
            </p>
            <p class="mr-8 mb-4 text-white">
              {% if estudiante.user.is_active%}
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Activo
                </div>
              {% else %}
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Inactivo
                </div>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="m-4">
      {% for course in estudiante.cursos.all %}
        <span class="text-xs font-medium me-2 p-2 rounded bg-green-900 text-green-300">{{course.nombre}}</span>
      {% endfor %}
    </div>
  </div>

  <div class="relative overflow-x-auto mb-4 rounded border border-gray-700">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs uppercase bg-gray-900 text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    PROFESOR
                </th>
                <th scope="col" class="px-6 py-3">
                    GRUPO
                </th>
                <th scope="col" class="px-6 py-3">
                    ACCIONES
                </th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
              {% for teacher in group.profesores.all %}
                <tr class="border-b bg-gray-900 border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        <a class="hover:text-accent-500 dark:hover:text-white" href="{{teacher.get_absolute_url}}">{{teacher.apellido}}, {{teacher.nombre}}</a>
                    </th>
                    <td class="px-6 py-4">
                      <a class="hover:text-accent-500 dark:hover:text-white" href="{{group.get_absolute_url}}">{{group.identificador}}</a>
                    </td>
                    <td class="px-6 py-4">
                      <a hx-get="{% url 'estudiantes:change-group' estudiante.slug group.id %}" hx-trigger="click" hx-swap="innerHTML" hx-target="#change-modal-body" class="hover:text-accent-500 dark:hover:text-white" data-modal-target="change-modal" data-modal-toggle="change-modal" >
                        <svg class="w-6 h-6 text-white  hover:text-accent-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16h13M4 16l4-4m-4 4 4 4M20 8H7m13 0-4 4m4-4-4-4"/>
                        </svg>                        
                      </a>
                    </td>
                </tr>
              {% endfor %}
            {% endfor %}
        </tbody>
    </table>
  </div>

  <div class="flex flex-col items-center p-4 w-full mx-auto mb-0  border border-gray-700 rounded shadow bg-gray-900">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 w-full" aria-labelledby="dropdownHoverButton">
      <li>
        <a href="{% url 'estudiantes:update-student' estudiante.slug %}" class="flex items-center p-2 text-gray-400 rounded dark:text-white hover:bg-accent-100 dark:hover:bg-gray-700 group border border-gray-700 mb-1">
        <svg class="w-6 h-6 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-gray-900">Editar perfil</span>
        <svg class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-400 dark:bg-gray-700 dark:text-gray-300 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
      </a>
      </li>
      {% if estudiante.user.is_active %}
      <li>
        <a href="#" hx-get="{% url 'estudiantes:enrolment-student' estudiante.slug %}" hx-trigger="click" hx-swap="innerHTML" hx-target="#enrolment-modal-body" data-modal-target="enrolment-modal" data-modal-toggle="enrolment-modal" class="flex items-center p-2 text-gray-400 rounded dark:text-white hover:bg-accent-100 dark:hover:bg-gray-700 group border border-gray-700 mb-1">
        <svg class="w-6 h-6 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-gray-900">Inscribir a un grupo</span>
        <svg class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-400 dark:bg-gray-700 dark:text-gray-300 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
      </a>
      </li>
      <li>
        <a href="#" hx-get="{% url 'estudiantes:resign-student' estudiante.slug %}" hx-trigger="click" hx-swap="innerHTML" hx-target="#resign-modal-body" data-modal-target="resign-modal" data-modal-toggle="resign-modal" class="flex items-center p-2 text-gray-400 rounded dark:text-white hover:bg-accent-100 dark:hover:bg-gray-700 group border border-gray-700 mb-1">
        <svg class="w-6 h-6 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-gray-900">Bajar de un grupo</span>
        <svg class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-400 dark:bg-gray-700 dark:text-gray-300 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
      </a>
      </li>
      {%endif %}
      <li>
        <a href="#" hx-get="{% url 'pagos:add-payment' estudiante.slug %}" hx-trigger="click" hx-swap="innerHTML" hx-target="#payment-modal-body" data-modal-target="payment-modal" data-modal-toggle="payment-modal" class="flex items-center p-2 text-gray-400 rounded dark:text-white hover:bg-accent-100 dark:hover:bg-gray-700 group border border-gray-700 mb-1">
        <svg class="w-6 h-6 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M5.617 2.076a1 1 0 0 1 1.09.217L8 3.586l1.293-1.293a1 1 0 0 1 1.414 0L12 3.586l1.293-1.293a1 1 0 0 1 1.414 0L16 3.586l1.293-1.293A1 1 0 0 1 19 3v18a1 1 0 0 1-1.707.707L16 20.414l-1.293 1.293a1 1 0 0 1-1.414 0L12 20.414l-1.293 1.293a1 1 0 0 1-1.414 0L8 20.414l-1.293 1.293A1 1 0 0 1 5 21V3a1 1 0 0 1 .617-.924ZM9 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H9Zm0 4a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Zm0 4a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-gray-900">Registrar pago</span>
        <svg class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-400 dark:bg-gray-700 dark:text-gray-300 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
      </a>
      </li>
      <li>
        <a href="{% url 'pagos:payments' estudiante.slug %}" class="flex items-center p-2 text-gray-400 rounded dark:text-white hover:bg-accent-100 dark:hover:bg-gray-700 group border border-gray-700 mb-1">
        <svg class="w-6 h-6 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M5.617 2.076a1 1 0 0 1 1.09.217L8 3.586l1.293-1.293a1 1 0 0 1 1.414 0L12 3.586l1.293-1.293a1 1 0 0 1 1.414 0L16 3.586l1.293-1.293A1 1 0 0 1 19 3v18a1 1 0 0 1-1.707.707L16 20.414l-1.293 1.293a1 1 0 0 1-1.414 0L12 20.414l-1.293 1.293a1 1 0 0 1-1.414 0L8 20.414l-1.293 1.293A1 1 0 0 1 5 21V3a1 1 0 0 1 .617-.924ZM9 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H9Zm0 4a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Zm0 4a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-gray-900">Historial de pagos</span>
        <svg class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-400 dark:bg-gray-700 dark:text-gray-300 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
      </a>
      </a>
      </li>
      {% if estudiante.user.is_active %}
      <li>
        <a hx-get="{% url 'estudiantes:disable-student' estudiante.slug %}"  hx-trigger="click" hx-swap="innerHTML" hx-target="#enrolment-form" data-modal-target="enrolment-modal" data-modal-toggle="enrolment-modal" class="flex items-center p-2 text-gray-400 rounded dark:text-white hover:bg-accent-100 dark:hover:bg-gray-700 group border border-gray-700 mb-1">
          <svg class="w-6 h-6 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
        <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-gray-900">Dar de baja</span>
        <svg class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-400 dark:bg-gray-700 dark:text-gray-300 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
      </a>
      </li>
      {% else %}
      <li>
        <a hx-get="{% url 'estudiantes:enable-student' estudiante.slug %}"  hx-trigger="click" hx-swap="innerHTML" hx-target="#enrolment-form" data-modal-target="enrolment-modal" data-modal-toggle="enrolment-modal" class="flex items-center p-2 text-gray-400 rounded dark:text-white hover:bg-accent-100 dark:hover:bg-gray-700 group border border-gray-700 mb-1">
        <svg  class="w-6 h-6 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h4m-2 2v-4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap group-hover:text-gray-900">Dar de alta</span>
        <svg class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-400 dark:bg-gray-700 dark:text-gray-300 group-hover:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
      </a>
      </li>
      {%endif%}
    </ul>
  </div>
</section>

<div id="confirm-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative rounded shadow bg-gray-900 border border-gray-700">
          <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center hover:bg-gray-600 hover:text-white" data-modal-hide="confirm-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Cerrar modal</span>
          </button>
          <div id="confirm-form" class="p-4 md:p-5 text-center">
          </div>
      </div>
  </div>
</div>