{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Conservatorio Rodó</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/f12cd8eee3.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
		<script src="https://unpkg.com/htmx.org@1.9.12"></script>
		<link rel="icon" type="image/x-icon" href="{% static 'app/conservatorio-rodo-icon-beige-128px.png' %}">

		{% tailwind_css %}
	</head>
	<body class="bg-gray-950 text-gray-50">

		<main class="flex">
			<div class="wrapper">
				{% block sidebar %} {% endblock %}
			</div>
			<div class="flex flex-col w-full items-stretch">
				{% block navbar %} {% endblock %}
				<div class="p-4 sm:ml-64">
					<div class="grid grid-cols-3 mt-14 gap-4 py-4 px-0">
						{% block content %} {% endblock %}
				    </div>
					{% include 'base/components/footer.html' %}
				</div>
			</div>
		</main>

		{% comment %} for Htmx to listen for requests and add the csrf_token so that POST requests are accepted. {% endcomment %}
		<script>
			document.body.addEventListener('htmx:configRequest', (event) => {
			event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
			})
		</script>
	</body>
</html>
