{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Conservatorio Rodó</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/f12cd8eee3.js" crossorigin="anonymous"></script>
		{% tailwind_css %}
	</head>
	<body class="bg-light-100 text-gray-50">

		<main class="flex">
			<div class="wrapper">
				{% block sidebar %} {% endblock %}
			</div>
			<div class="flex flex-col w-full">
				{% block navbar %} {% endblock %}
				{% block content %} {% endblock %}
			</div>
		</main>

	</body>
</html>
