{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Conservatorio Rodó</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/f12cd8eee3.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://unpkg.com/htmx.org@1.9.12"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
		<link rel="icon" type="image/x-icon" href="{% static 'assets/conservatorio-rodo-icon-beige-128px.png' %}">
		<link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
	</head>
	<body class="bg-black-900 text-gray-50">

		<main class="flex">
			<div class="wrapper">
				{% block sidebar %} {% endblock %}
			</div>
			<div class="flex flex-col w-full items-stretch">
				{% block navbar %} {% endblock %}
				<div class="p-4 sm:ml-64">
					<div class="grid grid-cols-4 mt-14 gap-4 py-4 px-0">
						<section class='col-span-4 md:col-span-4 lg:col-span-4'>
							{% block breadcrumb %} {% endblock %}
							{% include 'base/components/alerts/full_w_alert.html' %}
						</section>
						<section class='col-span-4 md:col-span-3 lg:col-span-3'>
						{% block content %} {% endblock %}
						</section>
						<section class='col-span-4 md:col-span-1 lg:col-span-1'>
							{% block aside %} {% endblock %}
						</section>
				    </div>
					{% include 'base/components/footer.html' %}
				</div>
			</div>
		</main>

		<script>
			document.body.addEventListener('htmx:configRequest', (event) => {
			event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
			})
			document.addEventListener("htmx:beforeSwap", function (e) {
				if(e.detail.target.classList.contains("payment-form")&& !e.detail.xhr.response){
					location.reload();
				}
			});
			document.addEventListener("htmx:beforeSwap", function (e) {
				if(e.detail.target.classList.contains("update-class-block-form")&& !e.detail.xhr.response){
 					location.reload();
				}
			});
			document.addEventListener("htmx:beforeSwap", function (e) {
				if(e.detail.target.classList.contains("create-class-block")&& !e.detail.xhr.response){
					location.reload();
				}
			});
			document.addEventListener("htmx:beforeSwap", function (e) {
				if(e.detail.target.classList.contains("update-falta-form")&& !e.detail.xhr.response){
 					location.reload();
				}
			});
			document.addEventListener("htmx:beforeSwap", function (e) {
				if(e.detail.target.classList.contains("crate-falta-form")&& !e.detail.xhr.response){
 					location.reload();
				}
			});
		</script>
	</body>
</html>
