

<h1>Detalles del pago</h1>

<p>Fecha: {{ pago.fecha }}</p>
<p>Monto: {{ pago.monto }}</p>
<p>Descripción: {{ pago.descripcion }}</p>
<p>Comprobante: <a  style=" text-decoration: underline" href="{{ pago.comprobante.url }}">Ver comprobante</a ></p>
<!-- Add more payment details as needed -->

<a  class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-800 font-medium rounded text-sm inline-flex items-center px-5 py-2.5 text-center" href="{% url 'pagos:payments' student_slug  %}">Volver a la lista de pagos</a>
