<form method="POST" action="{% url 'pagos:add-payment' student.slug %}" enctype="multipart/form-data">
  {% csrf_token %}
    <div>
        <label for="id_alumno"></label>
         {{ form.alumno }}
    </div>
    <div>
        <label for="nombre">Alumno:</label>
         {{student.nombre }}
    </div>
    <div>
        <label for="id_monto">Monto:</label>
        <input type="number" id="id_monto" name="monto">

        {{form.monto.label_tag}}
        {{form.monto}}
    </div>
    <div>
        <label for="id_fecha">Fecha:</label>
        <input type="date" id="id_fecha" name="fecha">
        {{form.fecha.label_tag}}
        {{form.fecha}}
    </div>
    <div>
        <label for="id_descripcion">Descripción:</label>
        <textarea id="id_descripcion" name="descripcion"></textarea>
        {{form.descripcion.label_tag}}
        {{form.descripcion}}
    </div>
    <div>
        <label for="id_comprobante">Comprobante:</label>
        <input type="file" id="id_comprobante" name="comprobante">

        {{form.comprobante.label_tag}}
        {{form.comprobante}}
    </div>
    <input class='main-action-button w-full' type="submit" value="Guardar">
</form>

