<aside class="bg-gray-950 shadow-lg h-screen top-0 left-0 min-w-[240px] px-4 py-8 font-[sans-serif] overflow-auto flex flex-col justify-between">
    <ul>
      <li class='mb-4'>
        <a href="#"
          class="text-white bg-gray-800 text-[15px] block hover:bg-accent-500 px-4 py-2.5 transition-all rounded">
          Dashboard
          <i class="fa-solid fa-chart-simple"></i>
        </a>
      </li>
      <li class='mb-4'>
        <a href="#"
          class="text-white bg-gray-800 text-[15px] block hover:bg-accent-500 px-4 py-2.5 transition-all rounded">
          Cursos y carreras
        </a>
      </li>
      <li class='mb-4'>
        <a href="#"
          class="text-white bg-gray-800 text-[15px] block hover:bg-accent-500 px-4 py-2.5 transition-all rounded">
          Estudiantes
        </a>
      </li>
      <li class='mb-4'>
        <a href="#"
          class="text-white bg-gray-800 text-[15px] block hover:bg-accent-500 px-4 py-2.5 transition-all rounded">
          Profesores
        </a>
      </li>
    </ul>
    <div>
      <a href="#"
          class="text-white bg-gray-800 text-[15px] block hover:bg-gray-400 px-4 py-2.5 transition-all rounded">
          Salir
        </a>
    </div>
</aside>