{% load static %}

<aside class="bg-gray-950 shadow-lg h-screen top-0 left-0 min-w-[240px] px-4 pt-16 pb-4 font-[sans-serif] overflow-auto flex flex-col justify-between">
    <ul class="text-gray-400">
      <li class='border-b mb-4 border-gray-800'>
        <img class="h-12 my-4 grayscale" src="{% static 'app/conservatorio-rodo-logo-beige-512px.png' %}" alt="">
      </li>
      <li class='mb-2 border-b border-gray-800 p-2'>
        <small>GENERAL</small>
      </li>
      <li class='mb-4 max-h-10'>
        <a href="{% url 'home' %}"
          class="text-[15px] block hover:bg-gray-800 hover:text-white px-8 py-2.5 transition-all rounded">
          Dashboard
        </a>
      </li>
      <li class='mb-2 border-b border-gray-800 p-2'>
        <small>GESTIÓN</small>
      </li>
      <li class='mb-4 max-h-10'>
        <a href="{% url 'create-course' %}"
          class="text-[15px] block hover:bg-gray-800 hover:text-white px-8 py-2.5 transition-all rounded">
          Alta de curso
        </a>
      </li>
      <li class='mb-4 max-h-10'>
        <a href="{% url 'courses' %}"
          class="text-[15px] block hover:bg-gray-800 hover:text-white px-8 py-2.5 transition-all rounded">
          Lista de cursos
        </a>
      </li>
      <li class='mb-4 max-h-10'>
        <a href="#"
          class="text-[15px] block hover:bg-gray-800 hover:text-white px-8 py-2.5 transition-all rounded">
          Alta de carrera
        </a>
      </li>
      <li class='mb-4 max-h-10'>
        <a href="{% url 'profesores:create-professor' %}"
          class="text-[15px] block hover:bg-gray-800 hover:text-white px-8 py-2.5 transition-all rounded">
          Alta de profesor
        </a>
      </li>
      <li class='mb-2 border-b border-gray-800 p-2'>
        <small>LISTADOS</small>
      </li>
      <li class='mb-4 max-h-10'>
        <a href="{% url 'profesores:list-professors' %}"
          class="text-[15px] block hover:bg-gray-800 hover:text-white px-8 py-2.5 transition-all rounded">
          Profesores
        </a>
      </li>
    </ul>
    <div>
      <a href="{% url 'logout' %}"
          class="text-[15px] block text-gray-400 hover:bg-gray-800 hover:text-white px-4 py-2.5 transition-all rounded text-center font-extrabold">
          Salir
        </a>
    </div>
</aside>