<div class="bloque-de-clase">
  {% if form.errors %}
         <ul class="error-list">
            {% for error in form.errors.values %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
         {% endif %}
    <div>
        {{form.id}}
    </div>
    <div class="flex flex-col mb-4">
        {{ form.salon.label_tag }}
        {{ form.salon }}
    </div>
    <div class="flex flex-col mb-4">
        {{ form.dia.label_tag }}
        {{ form.dia }}
    </div>
    <div class="flex flex-col mb-4">
        {{ form.hora_inicio.label_tag }}
        {{ form.hora_inicio }}
    </div>
    <div class="flex flex-col mb-4">
        {{ form.hora_fin.label_tag }}
        {{ form.hora_fin }}
    </div>
</div>


