<!-- grupo.html -->
<div class="grupo">
    <div class="flex flex-col mb-4">
        {{ form.curso.label_tag }}
        {{ form.curso }}
    </div>
    <div class="flex flex-col mb-4">
        {{ form.alumnos.label_tag }}
        {{ form.alumnos }}
    </div>
    <div class="flex flex-col mb-4">
        <!-- {% if form.cupo.errors %}
        <ul class="errorlist">
            {% for error in form.cupo.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %} -->
        {{ form.cupo.label_tag }}
        {{ form.cupo }}
    </div>
    <div class="flex flex-col mb-4">
        {{ form.profesores.label_tag }}
        {{ form.profesores }}
    </div>
</div>


