<section class='bg-gray-900 border border-gray-700 rounded'>  
    <div class="flex flex-col items-center p-2 mb-0">
        <div class="w-full p-2 mb-2">
            <div class="relative inline-flex items-center justify-center w-16 h-16 overflow-hidden rounded-full bg-gray-600">
                <span class="font-medium text-gray-300">{{persona.nombre|make_list|first}}{{persona.apellido|make_list|first}}</span>
            </div>
        </div>
        <div class="w-full p-2 mb-2">
            <h5 class="text-base text-gray-400">
                Correo electrónico
            </h5>
            <h6 class="text-2xl text-white">
                {{persona.email}}
            </h6>  
        </div>
        <div class="w-full p-2 mb-2">
            <h5 class="text-base text-gray-400">
                Celular
            </h5>
            <h6 class="text-2xl text-white">
                {{persona.telefono}}
            </h6>  
        </div>   
        <div class="w-full p-2 mb-2">
            <h5 class="text-base text-gray-400">
                Dirección
            </h5>
            <h6 class="text-2xl text-white">
                {{persona.direccion}}
            </h6>  
        </div>        
    </div>
</section>

<section class='col-span-4 md:col-span-1 lg:col-span-1 bg-gray-900 border border-gray-700 rounded'>  
    <div class="flex flex-col items-center p-2 w-full mb-0">
        <div class="w-full p-2 mb-2">
            <h6 class="text-2xl text-white">
                Información general
            </h6>  
        </div>
        <div class="w-full p-2 mb-2">
            <h5 class="text-base text-gray-400">
                Celular
            </h5>
            <h6 class="text-2xl text-white">
                {{persona.telefono}}
            </h6>  
        </div>   
        <div class="w-full p-2 mb-2">
            <h5 class="text-base text-gray-400">
                Dirección
            </h5>
            <h6 class="text-2xl text-white">
                {{persona.direccion}}
            </h6>  
        </div>        
    </div>
</section>