{% extends "base.html" %}

{% block navbar %}

{% include 'base/components/navbar.html' %}

{% endblock %}

{% block sidebar %}

{% include 'base/components/sidebar.html' %}

{% endblock %}

{% block content %}`

<section class="bg-gray-950 p-8 lg:rounded mx-auto pt-32 shadow-md lg:pt-8 w-full lg:w-auto">
    <h1>Detalles del grupo</h1>
    <div class="p-8">
        <h2 style="color: rgb(191 122 49 / var(--tw-text-opacity));">{{grupo}}</h2>
    </div>
    <div class="p-8">
        <button type="button"  class='main-action-button' onclick="window.location.href = '{% url "clases:list-groups" %}'">Atras</button>
    </div>
</section>

{% endblock %}