 {% comment %} This will load hora de inicio dropdown in clases {% endcomment %}
    {% for hour, status in available_hours.items %}
    <option value="{{ hour }}" class="{{ status }}" {% if status == "bloque-taken" %}style="background-color: #F98080 !important;" {% endif %}>{{ hour }}</option>
{% endfor %}

 {% comment %} This will load hora de fin dropdown in clases {% endcomment %}

<select name="hora_fin" id="id_hora_fin" hx-swap-oob="true" class="bg-gray-900 divide-y divide-gray-100 shadow dark:bg-gray-900">
{% for hour, status in available_hours.items %}
    <option value="{{ hour }}" class="{{ status }}" {% if status == "bloque-taken" %}style="background-color: #F98080 !important;"{% endif %}>{{ hour }}</option>
{% endfor %}
</select>

