{% extends "base.html" %}

{% block navbar %}

{% include 'base/components/navbar.html' %}

{% endblock %}

{% block sidebar %}

{% include 'base/components/sidebar.html' %}

{% endblock %}

{% block content %}

{% comment %} <section class="bg-gray-950 p-8 lg:rounded mx-auto pt-32 shadow-md lg:pt-8 w-full lg:w-auto">
    <h1>Detalles del salon</h1>
    <div class="p-8">
        {{salon}}
    </div>
    <div class="p-8">
        <button type="button"  class='main-action-button' onclick="window.location.href = {% url 'salones:classrooms' %}">Listar Salones</button>
    </div>
</section> {% endcomment %}
{% include 'salones/components/salon_card_component.html' %}

{% endblock %}